*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: rgb(107, 107, 177); */
}
.container{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.btn{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    padding: 0.5rem 1rem;
    color: white;
    border-radius: 1rem;
    border: 1px solid black;
    box-shadow: 0.5rem 0.5rem 0.5rem rgb(49, 47, 47);
}
.one{
background-color: rgb(154, 91, 91);
}
.two{
 background-color: chocolate;
}
.three{
background-color: crimson;
}
